<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDD1RKUyKes9o7Pw3Yucv3CKRFiXFrnIRY</string>
	<key>GCM_SENDER_ID</key>
	<string>46649103584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ironstatsmobiledev</string>
	<key>PROJECT_ID</key>
	<string>ironmanapp-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>ironmanapp-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46649103584:ios:f10b9d4fe0f9fd0417ec85</string>
</dict>
</plist>